<div class="keep-c-list-container">
	<label>Not-Started</label><br/><br/>
	<!-- Populate notStartedNotes -->
	<app-note [note]="note" *ngFor="let note of notStartedNotes"></app-note>
</div>

<div class="keep-c-list-container">
	<label>Started</label><br/><br/>
	<!-- Populate startedNotes -->
	<app-note [note]="note" *ngFor="let note of startedNotes"></app-note>
</div>

<div class="keep-c-list-container">
	<label>Completed</label><br/><br/>
	<!-- Populate completedNotes -->
	<app-note [note]="note" *ngFor="let note of completedNotes"></app-note>
</div>