<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<!-- update reminder fields -->
<div class="note-form-container">
    <mat-form-field> 
      <input  name="Name" id="editreminderName" matInput placeholder="Name"  [(ngModel)] = "reminder.reminderName" >
    </mat-form-field>
    <mat-form-field>
      <textarea  name="Desc" id="editreminderDesc" matInput placeholder="Desc" [(ngModel)] = "reminder.reminderDescription" ></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea  name="Type" id="editreminderType" matInput placeholder="Type" [(ngModel)] = "reminder.reminderType" ></textarea>
    </mat-form-field>
    
</div>    
<div class="keep-c-done-wrapper">
  <button mat-button type="reminderupdate" (click)="editReminder()">Save</button>
</div>
